@*@model WordstageWeb.Models.Product*@
@model List<WordstageWeb.Models.Product>
@*@model Tuple<WordstageWeb.Models.Language.Language, WordstageWeb.Models.Login.Login>*@

<!DOCTYPE html>
<html>
<body>
    <div class="home-page-bkL">
        @using (Html.BeginForm())
        {
            <div class="auto-group-zycb-x2U">
                <div class="rectangle-1-HqS">
                    <div class="rectangle-1-HqS-bg">
                    </div>
                </div>
                <div class="group-4-LHv">
                    <div class="group-11-3y2">
                        <div class="frame-4-QHn">
                            <img class="fluent-person-available-16-filled-6wJ" src="~/assets/fluent-person-available-16-filled.png" />
                            <p class="service-available-24-7-QSC">Service Available 24/7</p>
                        </div>
                        <div class="line-4-2bz">
                        </div>
                        <div class="frame-5-7dS">
                            <img class="dashicons-awards-2Ec" src="~/assets/dashicons-awards.png" />
                            <p class="year-guarantee-Xx4">1-Year Guarantee</p>
                        </div>
                        <div class="line-3-rUY">
                        </div>
                        <div class="frame-6-wVz">
                            <img class="mdi-people-group-rcx" src="~/assets/mdi-people-group.png" />
                            <p class="business-customers-aJ4">80,000 Business Customers</p>
                        </div>
                    </div>
                </div>
                <div class="group-13-4j2">
                    <div class="group-12-Q2C">
                        <p class="different-languages-connecting-the-world-MTE">Different languages connecting the world.</p>
                        <p class="we-aspires-to-carry-your-word-to-the-world-with-the-same-strength-grace-accuracy-and-power-GKJ">We aspires to carry your word to the world, with the same strength, grace, accuracy and power.</p>
                    </div>
                    <div class="frame-3-xT2">Translate now</div>
                </div>
            </div>
            <div class="auto-group-hfz3-Sd6">
                <div class="our-services-MVA">
                    <div class="frame-240-VLU">
                        <p class="our-services-2rC">OUR SERVICES</p>
                        <div class="rectangle-17-Zr8">
                        </div>
                    </div>
                    <div class="group-14-KKW">
                        <div class="group-7-4Xz">
                            <img class="group-8-mhJ" src="~/assets/group-8-s9i.png" />
                            <p class="translation-localization-6zU">Translation &amp; Localization </p>
                            <p class="using-only-the-native-translators-dUc">Using only the native translators</p>
                            <div class="frame-7-MfW">
                                <p class="explore-more-hDa">Explore More</p>
                                <img class="arrow-12-EDW" src="~/assets/arrow-12-18C.png" />
                            </div>
                        </div>
                        <div class="group-8-iuN">
                            <img class="group-8-3gk" src="~/assets/group-8-eQQ.png" />
                            <p class="voice-over-subtitling-neL">Voice Over &amp; Subtitling</p>
                            <p class="in-house-voice-talent-and-post-production-iXz">In-house voice talent and post production</p>
                            <div class="frame-7-qcc">
                                <p class="explore-more-N6k">Explore More</p>
                                <img class="arrow-12-JWC" src="~/assets/arrow-12-SB2.png" />
                            </div>
                        </div>
                        <div class="group-9-1fW">
                            <img class="group-8-Xdr" src="~/assets/group-8.png" />
                            <p class="transcription-U3J">Transcription</p>
                            <p class="offering-high-quality-audio-transcription-and-video-transcription-services-btc">Offering high quality audio transcription and video transcription services</p>
                            <div class="frame-7-uPW">
                                <p class="explore-more-rJk">Explore More</p>
                                <img class="arrow-12-Brp" src="~/assets/arrow-12-CWc.png" />
                            </div>
                        </div>
                        <div class="group-10-hqA">
                            <img class="auto-group-6kkq-2sS" src="~/assets/auto-group-6kkq.png" />
                            <p class="interpretation-yGt">Interpretation</p>
                            <p class="indian-vernacular-or-any-foreign-language-7P6">Indian vernacular or any foreign language</p>
                            <div class="frame-7-dcL">
                                <p class="explore-more-anU">Explore More</p>
                                <img class="arrow-12-7nQ" src="~/assets/arrow-12-GjA.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group-39-cz4">
                    <div class="auto-group-aytv-n7r">
                        <p class="our-expert-translation-services-ensure-that-you-are-well-understood-and-deeply-communicate-with-your-target-market-XLL">Our expert translation services ensure that you are well understood and deeply communicate with your target market.</p>
                        <p class="what-makes-our-translation-company-different-CBa">What makes our translation company different?</p>
                    </div>
                    <div class="group-38-hu2">
                        <div class="frame-242-T7W">
                            <div class="frame-241-ahv">
                                <p class="item-98-Wba">98%</p>
                                <p class="customer-satisfaction-qdr">Customer satisfaction</p>
                            </div>
                            <p class="our-customer-agree-that-wordstag-is-the-best-for-his-services-Zpk">Our customer agree that, Wordstag is the best for his services</p>
                        </div>
                        <div class="frame-243-gPa">
                            <div class="frame-241-R6G">
                                <p class="item-10-MEp">10</p>
                                <p class="years-of-professional-translation-experience-UaL">
                                    Years of Professional
                                    <br />
                                    Translation Experience
                                </p>
                            </div>
                            <p class="weve-had-more-than-a-decade-of-experience-optimizing-our-services-PSQ">We&#39;ve had more than a decade of experience optimizing our services.</p>
                        </div>
                        <div class="frame-243-u9r">
                            <div class="frame-241-q3W">
                                <p class="item-1500-a16">1,500</p>
                                <p class="native-translators-Jhn">Native translators</p>
                            </div>
                            <p class="a-global-pool-of-native-translators-at-your-service-anytime-anywhere-F7E">A global pool of native translators at your service, anytime, anywhere.</p>
                        </div>
                        <div class="frame-244-AEC">
                            <div class="frame-241-tvt">
                                <p class="item-100-dtU">100</p>
                                <p class="languages-and-pairs-ANc">Languages and pairs</p>
                            </div>
                            <p class="we-have-the-language-pair-you-need-to-bring-meaning-to-your-words-tJc">We have the language pair you need to bring meaning to your words.</p>
                        </div>
                        <div class="line-6-BYc">
                        </div>
                        <div class="line-7-iYY">
                        </div>
                    </div>
                </div>
                <div class="group-59-DEQ">
                    <p class="trusted-by-leading-organization-around-the-world-yUU">TRUSTED BY LEADING ORGANIZATION AROUND THE WORLD</p>
                    <div class="group-58-Fgt">
                        <div class="frame-58-D7v">
                            <div class="company-logo-vY8">
                                <img class="auto-group-uzck-qf6" src="~/assets/auto-group-uzck.png" />
                                <img class="auto-group-ovks-a6t" src="~/assets/auto-group-ovks.png" />
                                <img class="vector-hhJ" src="~/assets/vector-uDi.png" />
                            </div>
                            <img class="company-logo-dqr" src="~/assets/company-logo-qhA.png" />
                            <img class="company-logo-wLk" src="~/assets/company-logo.png" />
                            <img class="company-logo-3eg" src="~/assets/company-logo-ur8.png" />
                        </div>
                        <div class="frame-58-BVz">
                            <img class="company-logo-6N4" src="~/assets/company-logo-kbi.png" />
                            <div class="company-logo-crC">
                                <img class="vector-ZmS" src="~/assets/vector-6Vv.png" />
                                <img class="vector-JU8" src="~/assets/vector-vx8.png" />
                            </div>
                            <img class="company-logo-SaL" src="~/assets/company-logo-xhe.png" />
                            <div class="company-logo-Zur">
                                <img class="vector-uD2" src="~/assets/vector-zkY.png" />
                                <img class="vector-FXn" src="~/assets/vector.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="group-40-mFE">
                <div class="group-47-UvL">
                    <p class="you-provide-we-translate-2wr">
                        You Provide.
                        <br />
                        We Translate.
                    </p>
                    <p class="in-many-cultures-and-religions-a-stag-or-a-deer-represents-strength-sacredness-vitality-grace-power-peace-harmony-and-abundance-wov">
                        In many cultures and religions, a stag or a deer represents strength, sacredness, vitality, grace, power, peace, harmony and abundance.
                        <br />

                    </p>
                    <p class="about-us-1Hz">About Us</p>
                </div>
            </div>
            <div class="group-56-rhv">
                <div class="auto-group-nyrs-nLg">
                    <p class="choose-a-plan-hTe">Choose a Plan </p>
                    <div class="frame-249-ide">
                        <p class="translation-3R2">TRANSLATION</p>
                        <div class="group-57-ZuA">
                            @*<p class="voice-over-translation-V28">Voice-Over Translation</p>
                        <div class="line-8-p4Q">
                        </div>*@

                            @Html.DropDownList("ProductId", (IEnumerable<SelectListItem>)ViewBag.ProductNames, null)

                            <img class="material-symbols-arrow-drop-down-MKE" src="~/assets/material-symbols-arrow-drop-down-HfE.png" />
                        </div>
                    </div>
                    <p class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-ut-eu-elit-pellentesque-commodo-lectus-sit-amet-hendrerit-orci-maecenas-congue-velit-et-tempus-volutpat-donec-mattis-quam-ut-ullamcorper-porta-sed-rutrum-auctor-nisi-efficitur-iaculis-RK6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu elit pellentesque, commodo lectus sit amet, hendrerit orci. Maecenas congue velit et tempus volutpat. Donec mattis quam ut ullamcorper porta. Sed rutrum auctor nisi efficitur iaculis.</p>
                </div>
                <div class="group-55-eSk">
                    <div class="group-54-PfE">
                        <div class="auto-group-ijvp-KHz">
                            <p class="from-TQC">FROM</p>
                            @*@Html.DropDownList("LanguageId", (IEnumerable<SelectListItem>)ViewBag.Languages, null, new { @class ="from-TQC" })*@
                            <div class="group-28-oDA">
                                <img class="twemoji-flag-us-outlying-islands-vYg" src="~/assets/twemoji-flag-us-outlying-islands.png" />
                                @Html.DropDownList("LanguageId", (IEnumerable<SelectListItem>)ViewBag.Languages, null)
                                @* <img class="material-symbols-arrow-drop-down-BzQ" src="~/assets/material-symbols-arrow-drop-down-RHA.png" />*@
                            </div>
                        </div>
                        <div class="frame-248-UyW">
                            <div class="ellipse-12-zBA">
                            </div>
                            <div class="ellipse-13-icx">
                            </div>
                            <div class="ellipse-14-f2Q">
                            </div>
                            <div class="ellipse-15-oPW">
                            </div>
                            <div class="ellipse-16-9CU">
                            </div>
                            <div class="ellipse-17-5rp">
                            </div>
                            <div class="ellipse-18-EDv">
                            </div>
                            <div class="ellipse-20-A7a">
                            </div>
                            <div class="ellipse-19-u5A">
                            </div>
                            <div class="ellipse-21-Et8">
                            </div>
                        </div>
                        <div class="auto-group-1pgw-yKv">
                            <p class="to-iYQ">TO</p>
                            <div class="group-29-fCk">
                                <img class="twemoji-flag-clipperton-island-Bgt" src="~/assets/twemoji-flag-clipperton-island.png" />
                                @Html.DropDownList("LanguageId", (IEnumerable<SelectListItem>)ViewBag.Languages, null)
                            </div>
                        </div>
                    </div>
                    <div class="group-53-jrp">
                        <div class="group-50-5Qt">
                            <div class="group-48-cQp">@Model[0].planTypes[0].PlanType</div>
                            <div class="auto-group-qmkw-Uxp">
                                <div class="frame-247-cJL">
                                    <div class="frame-246-N2c">
                                        <img class="vector-7kt" src="~/assets/vector-4AL.png" />
                                        <p class="item-200-Fs6">@Model[0].Price</p>
                                    </div>
                                    <p class="per-word-nc8">per word</p>
                                </div>
                            </div>
                            <p class="machine-text-translation-Wo2">Machine text translation</p>
                            <div class="group-49-Rf6">
                                <div class="frame-33-Yji">
                                    <img class="dashicons-yes-alt-4xx" src="~/assets/dashicons-yes-alt.png" />
                                    <p class="unedited-Bng">Unedited</p>
                                </div>
                                <div class="frame-34-Kdz">
                                    <img class="dashicons-yes-alt-rtp" src="~/assets/dashicons-yes-alt-cb2.png" />
                                    <p class="instant-service-zEL">Instant Service</p>
                                </div>
                                <div class="frame-236-iRE">
                                    <img class="dashicons-yes-alt-e3z" src="~/assets/dashicons-yes-alt-MsN.png" />
                                    <p class="free-trial-xaU">1-Free Trial</p>
                                </div>
                            </div>
                        </div>
                        <div class="group-51-rvk">
                            <div class="group-48-oLC">@Model[1].planTypes[0].PlanType</div>
                            <div class="auto-group-yvb5-get">
                                <div class="frame-247-ozQ">
                                    <div class="frame-246-Zig">
                                        <img class="vector-8Fz" src="~/assets/vector-q9J.png" />
                                        <p class="item-500-sUU">@Model[0].Price</p>
                                    </div>
                                    <p class="per-word-D2Y">per word</p>
                                </div>
                            </div>
                            <p class="expert-text-translation-wjE">Expert text translation</p>
                            <div class="group-49-gB2">
                                <div class="frame-33-bon">
                                    <img class="dashicons-yes-alt-itQ" src="~/assets/dashicons-yes-alt-efA.png" />
                                    <p class="edited-by-an-expert-e1N">Edited by an expert</p>
                                </div>
                                <div class="frame-34-yJY">
                                    <img class="dashicons-yes-alt-WJU" src="~/assets/dashicons-yes-alt-Fda.png" />
                                    <p class="delivered-in-an-hours-2Xi">Delivered in an hours</p>
                                </div>
                                <div class="frame-236-MZz">
                                    <img class="dashicons-yes-alt-soE" src="~/assets/dashicons-yes-alt-jJ8.png" />
                                    <p class="plain-text-CqW">Plain text</p>
                                </div>
                            </div>
                        </div>
                        <div class="group-52-uV2">
                            <div class="group-48-2Jk">@Model[2].planTypes[0].PlanType</div>
                            <div class="auto-group-bivf-UgY">
                                <div class="frame-247-nhE">
                                    <div class="frame-246-jMa">
                                        <img class="vector-Hdz" src="~/assets/vector-6Wc.png" />
                                        <p class="item-800-E3S">@Model[0].Price</p>
                                    </div>
                                    <p class="per-word-kXa">per word</p>
                                </div>
                            </div>
                            <p class="professional-translation-Fz8">Professional translation</p>
                            <div class="group-49-C8g">
                                <div class="auto-group-uqdv-8HE">
                                    <div class="frame-33-GeL">
                                        <img class="dashicons-yes-alt-a9E" src="~/assets/dashicons-yes-alt-XVa.png" />
                                        <p class="edited-by-an-expert-J5E">Edited by an expert</p>
                                    </div>
                                    <div class="frame-34-PcU">
                                        <img class="dashicons-yes-alt-VvQ" src="~/assets/dashicons-yes-alt-rvc.png" />
                                        <p class="delivered-in-an-hours-R3N">Delivered in an hours</p>
                                    </div>
                                </div>
                                <div class="frame-236-9EG">
                                    <img class="dashicons-yes-alt-GZn" src="~/assets/dashicons-yes-alt-aTS.png" />
                                    <p class="supported-doc-pdf-pptx-no2">Supported .doc, pdf, pptx</p>
                                </div>
                                <div class="frame-237-7qJ">
                                    <img class="dashicons-yes-alt-rH6" src="~/assets/dashicons-yes-alt-N16.png" />
                                    <p class="keeping-the-format-on-demand-NWL">Keeping the format on demand</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="group-66-eTr">
                <p class="faq-Zap">FAQ</p>
                <div class="group-65-H12">
                    <div class="group-60-QbS">
                        <p class="what-is-wordstag-jNp">What is Wordstag?</p>
                        <img class="ic-outline-plus-TZi" src="~/assets/ic-outline-plus.png" />
                    </div>
                    <div class="group-61-PTN">
                        <p class="how-many-languages-does-wordstag-support-KM2">How many languages does Wordstag support?</p>
                        <img class="ic-outline-plus-DxC" src="~/assets/ic-outline-plus-k8Q.png" />
                    </div>
                    <div class="group-62-A6k">
                        <p class="how-can-i-communicate-with-the-translator-VPv">How can I communicate with the translator?</p>
                        <img class="ic-outline-plus-1dA" src="~/assets/ic-outline-plus-QdW.png" />
                    </div>
                    <div class="group-63-LvL">
                        <p class="how-can-i-track-the-status-of-my-translation-gUQ">How can I track the status of my translation?</p>
                        <img class="ic-outline-plus-bLU" src="~/assets/ic-outline-plus-176.png" />
                    </div>
                    <div class="group-64-w9S">
                        <p class="how-can-i-become-a-translator-at-wordstag-Tda">How can I become a translator at Wordstag?</p>
                        <img class="ic-outline-plus-z7i" src="~/assets/ic-outline-plus-4JU.png" />
                    </div>
                </div>
            </div>
            <div class="frame-73-W64">
                <div class="group-71-psS">
                    <p class="get-in-touch-nJU">Get in Touch</p>
                    <p class="looking-to-establish-a-local-footprint-in-emerging-global-markets-contact-to-our-language-expert-today-WEU">Looking to establish a local footprint in emerging global markets? Contact to our language expert today</p>
                </div>
                <div class="group-72-Q4x">
                    <div class="group-81-jsv">
                        <div class="auto-group-blvw-tF2">
                            <div class="group-67-SGY">
                                <p class="first-name-zJ4">First name</p>
                                <div class="rectangle-27-hiG">
                                </div>
                            </div>
                            <div class="group-68-d68">
                                <p class="last-name-yvg">Last name</p>
                                <div class="rectangle-27-idN">
                                </div>
                            </div>
                        </div>
                        <div class="group-69-eX2">
                            <p class="e-mail-D4L">E-mail</p>
                            <div class="rectangle-27-8wz">
                            </div>
                        </div>
                        <div class="group-70-sPn">
                            <p class="message-dNx">Message</p>
                            <div class="rectangle-27-ZGc">
                            </div>
                        </div>
                    </div>
                    <p class="by-submitting-this-form-you-agree-to-wordstags-privacy-policy-and-terms-conditions-5Ex">
                        <span class="by-submitting-this-form-you-agree-to-wordstags-privacy-policy-and-terms-conditions-5Ex-sub-0">By submitting this form, you agree to WORDSTAG’S </span>
                        <span class="by-submitting-this-form-you-agree-to-wordstags-privacy-policy-and-terms-conditions-5Ex-sub-1"> Privacy Policy</span>
                        <span class="by-submitting-this-form-you-agree-to-wordstags-privacy-policy-and-terms-conditions-5Ex-sub-2"> and </span>
                        <span class="by-submitting-this-form-you-agree-to-wordstags-privacy-policy-and-terms-conditions-5Ex-sub-3">Terms &amp; Conditions.</span>
                    </p>
                    <div class="frame-71-rBA">Continue</div>
                </div>
            </div>
            <div class="group-81-XHJ">
                <div class="frame-82-Fyz">
                    <p class="talk-to-our-language-expert-today-R7n">Talk to our language expert today</p>
                    <div class="frame-257-93n">Let’s start a project together</div>
                </div>
            </div>
        }
    </div>
</body>
</html>